* {
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", Arial, sans-serif;
  margin: auto;
}

.skills {
  text-align: center;
}

.icon {
  height: 28px;
  margin-right: 0;
}

.icon-sm {
  height: 16px;
}

.bg-image {
  position: absolute;
  bottom: -88%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 165px 0 124px;
  width: 100%;
  margin: auto;
  border: #fbab40;
  height: 100vh;
  background-color: #242628;
  background-color: #131314;
  background-image: url(./assets/endless-constellation.svg);
  background-repeat: repeat;
  background-position-x: center;
  background-position-y: 70px;
  background-origin: padding-box;
  background-size: 600px;
}

.header h2,
.learn-more h2 {
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  line-height: 36px;
}

.header h2 {
  margin-bottom: 30px;
}

.learn-more h2 {
  font-weight: 600;
}

.header,
.learn-more {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0px;
  font-style: normal;
}

.header>h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.header>p,
.learn-more>p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  flex-grow: 0;
  margin: 16px 0px;
}

.options {
  display: flex;
  flex-direction: row;
}

.options>a {
  color: #ffffff;
  text-decoration: underline;
  margin: 0px 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

.options>a:first-of-type {
  margin-right: 30px;
}

.logo {
  margin-top: 75px;
}

.logo>img {
  width: 160px;
  height: 64px;
}

.learn-more>a {
  background: #075e54;
  color: #fff;
  border-radius: 10px;
  border: none;
  width: 180px;
  margin-top: 38px;
  height: 55px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn-more>a span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn-more a {
  text-decoration: none;
}

.learn-more a:hover {
  text-decoration: underline;
}

.learn-more>a:hover {
  background: #075E54;
  text-decoration: none;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 1000px;
  box-shadow: 2px 2px 2px #fff;
}

@media screen and (max-width: 1024px) {
  .container {
    background-size: contain;
    background-position-y: center;
  }
}

@media screen and (max-width: 600px) {

  .container {
    background-size: contain;
    background-position-y: center;
  }

  pre {
    font-size: 0.8rem;
    padding: 8px 12px;
    width: 100%;
  }

  body {
    width: 100vw;
  }

  .header img,
  .learn-more img {
    margin-left: 0;
  }

  .installation-steps {
    width: 100%;
    box-sizing: border-box;
  }

  h1 {
    font-size: 1.6rem;
  }

  ol {
    padding-left: 20px;
  }

  li {
    margin-bottom: 5px;
  }
}